<h4>Booking <%=booking.get("id") %></h4> 

<p>Status: <%=booking.get("status") %></p>
<p>Person: 
<%if(app.personList.get(booking.get("personId"))){%>
<%="<a href='./#/person/"+booking.get("personId")+"'>"+app.personList.get(booking.get("personId")).get("name")+"</a>"%>
<%}else{%>
<%=booking.get("personId")%>
<%}%>
<p>Desk: 
<%if(app.deskList.get(booking.get("deskId"))){%>
<%="<a href='./#/desk/"+booking.get("deskId")+"'>"+app.deskList.get(booking.get("deskId")).get("list")+app.deskList.get(booking.get("deskId")).get("bay")+app.deskList.get(booking.get("deskId")).get("desk")+"</a>"%>
<%}else{%>
<%=person.get("manager")%>
<%}%>
<p>Start Date: <%=booking.get("startDate") %></p>
<p>End Date: <%=booking.get("endDate") %></p>
