<%if(person==false){%>
<h4>Creating New Person</h4> 
<p>Name: <input type="text" id="name"></p>
<p>Status: <input type="text" id="status"></p>
<p>Manager/Supervisor: <select id="manager"> 
<option value="none">none</option>
<%app.personList.each(function(person){%>
	<%= "<option value='"+person.get("id")+"'>"+person.get("name")+"</option>"%>
<%})%>
</select></p>
<p>email: <input type="text" id="contact"></p>
<p>Notes: <input type="text" id="notes"></p>
<button id="save">Save</button>
<%}else{%>
<h4>Editing <%=person.get("name") %></h4> 
<p>Name: <input type="text" id="name" value="<%=person.get("name") %>"></p>
<p>Status: <input type="text" id="status" value="<%=person.get("status") %>"></p>
<p>Manager/Supervisor: <select id="manager"> 
<option value="none">none</option>
<%app.personList.each(function(p){%>
	<%= "<option value='"+p.get("id")+"'"%>
	<%if(p.get("id")==person.get("manager")){%>
		<%="selected='selected'"%>
	<%}%>
	<%=">"+p.get("name")+"</option>"%>
<%})%>
</select></p>
<p>email: <input type="text" id="contact" value="<%=person.get("contact") %>"></p>
<p>Notes: <input type="text" id="notes" value="<%=person.get("notes") %>"></p>
<button id="save">Save</button>
<%}%>

