<%if(person==false){%>
<h4>Creating New Person</h4> 
<p>*Name: <input type="text" id="name"> <i>Full first and last name</i></p>
<p>*Status: <input type="text" id="status"> <i>Indicate whether this person is a Student, Staff, Visitor and Full or Part Time</i></p>
<p>Manager/Supervisor: <select id="manager"> 
<option value="none">none</option>
<%app.personList.each(function(person){%>
	<%= "<option value='"+person.get("id")+"'>"+person.get("name")+"</option>"%>
<%})%>
</select><i>Please select this persons Manager or Primary Supervisor from the drop down list. If unknown or not there leave blank.</i></p>
<p>email: <input type="text" id="contact"><i>The university email address on which they can be contacted</i></p>
<p>Notes: <input type="text" id="notes"><i>Any other additional information about the person such as special needs, additional contact info, or source of funding</i></p>
<button id="save">Save</button>
<%}else{%>
<h4>Editing <%=person.get("name") %></h4> 
<p>Name: <input type="text" id="name" value="<%=person.get("name") %>"></p>
<p>Status: <input type="text" id="status" value="<%=person.get("status") %>"></p>
<p>Manager/Supervisor: <select id="manager"> 
<option value="none">none</option>
<%app.personList.each(function(p){%>
	<%= "<option value='"+p.get("id")+"'"%>
	<%if(p.get("id")==person.get("manager")){%>
		<%="selected='selected'"%>
	<%}%>
	<%=">"+p.get("name")+"</option>"%>
<%})%>
</select></p>
<p>email: <input type="text" id="contact" value="<%=person.get("contact") %>"></p>
<p>Notes: <input type="text" id="notes" value="<%=person.get("notes") %>"></p>
<button id="save">Save</button>
<%}%>

<div id="personerror" title="Booking Error">This Person is invalid. You must specify a name and status.</div>

<script>
	$( "#personerror" ).dialog({ autoOpen: false });
<script>	